################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TestAspNetCoreGitHub/.vs/TestAspNetCoreGitHub
/TestAspNetCoreGitHub/TestAspNetCoreGitHub/bin/Debug/net5.0
/TestAspNetCoreGitHub/TestAspNetCoreGitHub/obj
